:root {
  --primary-color: #121c2ad7;
  --secondary-color: #0c1318ec;
  --text-color: #ced6cb;
  --additional-color: #a8dadc44;
  --alert-color: #e41f2fab;

  --console-height: 75%;
  --console-width: 95%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 24px;
  color: var(--text-color);
}

html {
  height: 100%;
  width: 100%;
  background: url(/css/background.jpg);
  background-size: cover;
  ;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.label{
  margin-bottom: 30px;
  margin-left: 4%;
  align-self: flex-start;
  user-select: none;
  font-size: 38px;
  color: var(--text-color);
}

.console-body {
  padding: 10px;
  padding-top: 15px;
  height: var(--console-height);
  width: var(--console-width);
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.row {
  padding-top: 2px;
  height: 34px;
  display: flex;
  align-items: center;
}

.row-number {
  margin: 10px;
  width: 26px;
  color: var(--additional-color);
  text-align: right;
  user-select: none;
}

.row-content {
  margin-left: 8px;
  font-size: 22px;
}

.row-content-error {
  margin-left: 8px;
  font-size: 22px;
  color: var(--alert-color);
}

form {
  width: var(--console-width);
}

input {
  height: 48px;
  margin-top: 6px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  box-sizing: border-box;
  outline: none;
}

input::placeholder {
    color: var(--additional-color);
    font-size: 18px;
}

.help-text{
  margin-right: 5%;
  padding-top: 10px;
  color: var(--text-color);
  box-sizing: border-box;
  font-size: 12px;
  align-self: flex-end;
}

.help-text-command{
  color: var(--alert-color);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.4px;
}